version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: durable
      POSTGRES_PASSWORD: durable
      POSTGRES_DB: durable
    ports:
      - "5432:5432"